body {
    font-family: 'Roboto', sans-serif;
    background-color: #202449;
    color: white;
}

header {
    text-align: left;
    margin-top: 20px;
    display: flex;
    background: #202449;
    border-radius: 10px;
    color: white;
    padding: 0 20px;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

header img {
    margin-top: 10px;
    margin-left: -10px;
    border-radius: 10%;
}

.icon {
    margin: 15px;
    border: 2px solid white;
    border-radius: 15px;
    opacity: 1;
    transition: opacity 0.3s;
    position: relative;
    display: block;
}

.games > div:hover .icon {
    opacity: 0.5;
}

.games > div {
    position: relative;
    display: inline-block;
}

.popup_text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.games > div:hover .popup_text {
    opacity: 1;
    visibility: visible;
}

.container {
    text-align: center;
    margin-top: 30px;
    border-radius: 3px;
    padding-bottom: 50px;
    background-color: #111325;

}
.FullScreen{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 30px;
}
input{
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 3px;

}
textarea{
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 3px;
    margin-bottom: -10px;
    
}
.home{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 30px;
    padding: 10px;
}

