            body {
                font-family: 'Roboto', sans-serif;
                background-color: #202449;
                color: white;
            }
            header {
                text-align: left;
                margin-top: 20px;
                display: flex;
                background: #202449;
                border-radius: 10px;
                color: white;
                padding: 0 20px ;
            }
             a {
                color: white;
                text-decoration: none;
                margin: 0 15px;
                font-weight: bold;
            }
            a:hover {
                text-decoration: underline;
            }
            header img {
                margin-top: 10px;
                margin-left: -10px;
            }   